.appNav {
  &.side-nav {
    @apply inline-block relative z-20;
    .logo {
      @apply relative;
      left: 3rem;
      top:2rem;
    }
    @media  (max-width: 992px) {
      @apply hidden;
    }
  }

  &.top-nav {
    @apply hidden;
    @media  (max-width: 992px) {
      @apply block;
    }
    &.hide{
      margin-top: -34rem;
    }
  }
  li{
    @apply cursor-pointer;
  }
  h3.active{
    @apply bg-gray-900;
  }

  li.active{
    @apply bg-yellow-500;
  }
}