{
  "presets": [
    "@babel/env",
    "@babel/react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@": "./",
          "@src": "./src",
          "@components": "./src/components",
          "@hocs": "./src/hocs",
          "@views": "./src/views",
          "@redux": "./src/redux",
          "@styles": "./src/styles"
        }
      }
    ]
  ],
}