.main-body{
  @apply h-full w-full flex;
  .tab{
    @apply h-full w-full flex;
  }
  .left-body{
    background: rgba(246, 246, 233, 0.5);
  }
  .post {
    @apply rounded-lg w-full bg-white text-gray-700 flex p-4 mb-4;
    box-shadow: .1rem 0rem .6rem 0 rgba(0, 0, 0, .1);
    &.active {
      transform: scale(1.05);
    }
    &.inactive {
      @apply opacity-75;
    }
  }
  .tab-content{
    @apply h-full inline-block w-2/4;
  }

  .tab-content > div{
    @apply p-10 flex flex-col h-full;
  }
}