.header{
  @apply flex justify-between items-center;
  background-image: url('/backgroundgrn.png');
  background-size: cover;
  background-repeat: no-repeat;
  #tabname{
    text-transform: capitalize;
  }
  .logo{
    width:4rem;
    height:2.5rem;
    @media  (min-width: 992px) {
      display: none;
    }
  }
  &.post-active .logo{
    @media  (max-width: 992px) {
      display: none;
    }
  }
  .backbtn{
    @apply hidden;
  }
  &.post-active .backbtn{
    @media  (max-width: 992px) {
      background-image: url('/backarrow-09.png');
      background-size: cover;
      background-repeat: no-repeat;
      @apply w-6 h-10 block;
    }
  }
  .hamburger{
    @apply hidden;
    @media  (max-width: 992px) {
      @apply p-1 text-white inline-block;
      .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
        background: rgba(255,255,255,.7);
      } 
    }
  }
}