input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance: textfield; 
}

input::placeholder {
  opacity: .4 !important; 
}

button:focus, li:focus, input:focus, textarea:focus {
  outline: none !important; 
}

.flexdiv{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.flex-center{
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.logo{
  background-image: url('/logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  width:6rem;
  height:4.5rem;
  /* padding: .5rem 0 .5rem 3.5rem; */
}
.anim {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; 
}
.anim-ease {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease-in; 
}